body {
    background-size: auto;
    overflow: scroll;
}

.mainTitle:hover
{
    color: #fbff00;
    /*color: olive; !important;*/
}
.mainTitle:active
{
    color: #ffce1b;
}
.mainTitle {
    position: absolute;
    color: gold;
    right: 45vw;
    top: 10vh;
    text-decoration: none;
    /*    width: 5vw;
        height: 5vh;*/
    /*background-color: black;*/
    /*outline-color: black;*/
    /*    text-outline: black 50px 50px;*/
    -webkit-text-stroke:0.05vw black;
    /*    -webkit-text-fill-color:transparent;*/
    text-shadow: 0.25vh 0 0.25vw #000,
    0 0.25vh 0.5vw #000,
    -0.25vh 0 0.5vw #000,
    0 -0.25vw 0.25vw #000;
    /*outline: blue outset 3px;*/
    font-family: Georgia, serif;
    font-size: 10vh;
    line-height: 10vh;
    /*text-align: end;*/
    /*margin: 10vh 50vw;*/
}
.productItem{
    height: 58vh;
    width: 38vw;
    border-radius: 1vh;
    border: 0.5vh solid #00ff1e;
    background-color: #7bff71;
    position: absolute;
    top: 25vh;
    left: 30vw;
    font-size: 7vh;
    text-align: center;
}
.productInfo{
    margin-top: 1vh;
    border-radius: 1.5vh;
    border: 0.5vh solid black;
    font-size: 3.2vh;
    text-align: left;
    position: sticky;
    resize: none;
    height: 30vh;
    width: 33.5vw;
    vertical-align: top;
    left: 3.5vh;
}

.deleteBtn{
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 2vw;
    position:  relative;
    margin-left: 30vw;
    width: 3vw;
    height: 3vw;
    top: -2vw;
    right: 0vw;
    background: #ff1300;
    cursor: pointer;
    border-radius: 50%;
    border-width: 0.25vw;
    box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
    inset 0 0.2vw 0 rgba(255,255,255,.6),
    0 0.2vw 0 rgba(0,0,0,.1),
    inset 0 0 0.2vw rgba(0,0,0,.1);
}

.addBtn{
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 2vw;
    position:  relative;
    margin-left: 30vw;
    width: 3vw;
    height: 3vw;
    top: -5vw;
    right: 4vw;
    background: #004fe2;
    cursor: pointer;
    border-radius: 50%;
    border-width: 0.25vw;
    box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
    inset 0 0.2vw 0 rgba(255,255,255,.6),
    0 0.2vw 0 rgba(0,0,0,.1),
    inset 0 0 0.2vw rgba(0,0,0,.1);
}
.makeReview{
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 2vw;
    position:  relative;
    margin-left: 30vw;
    width: 5vw;
    height: 3vw;
    top: -8vw;
    right: 29vw;
    background: #e2cd00;
    cursor: pointer;
    border-radius: 35%;
    border-width: 0.25vw;
    box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
    inset 0 0.2vw 0 rgba(255,255,255,.6),
    0 0.2vw 0 rgba(0,0,0,.1),
    inset 0 0 0.2vw rgba(0,0,0,.1);
}

.PlusBtn{
    width: 1.5vw;
    z-index: 1;
}

.MinusBtn{
    width: 1.5vw;
    z-index: 1;
}

.btnImg{
    width: 1.5vw;
    z-index: 1;
}

.productPrice {
    z-index: 2;
    -webkit-text-stroke: 0.05vh snow;
    padding-left: 0.35vw;
    align-items: center;
    justify-content: center;
    top: -8vh;
    right: 5vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: -10vw;
    position: absolute;
    height: 7vh;
    width: 10vw;
    font-size: 4vh;
    border: 0.5vh solid #00ff1e;
    background-color: #ff7e00;
    border-radius: 4vh
}