body {
    background-size: auto;
}

.enterElements{
    white-space:revert;
}

.enter {
    position: fixed;
    color: black;
    right: 4vw;
    margin-right: calc(-3 *(1vmin + 1vmax));
    top: calc(1vmin + 1vmax);
    /*    display: inline;*/
    white-space:pre;
    /*    width: 5vw;
        height: 5vh;*/
    /*background-color: black;*/
    /*outline-color: black;*/
    /*    text-outline: black 50px 50px;*/
    /*-webkit-text-stroke:0.1vw darkkhaki;*/
    /*    -webkit-text-fill-color:transparent;*/
    /*    font-family: Righteous, cursive;*/
    font-size: calc(1vmin + 1vmax);
    line-height: 3vh; !important;

}
.enter > .enterBtn {
    /*    margin-top: 1vh;*/
    margin-right: 2vw;
}


#errorBlock {

    top: calc(1vmin + 1vmax);
    right: calc(10 *(1vmin + 1vmax));;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    position: absolute;
    font-size: calc(2vmin + 1vmax/ 2);;
    color: #ff0002;
    -webkit-text-stroke-width: 0.05vh;
    -webkit-text-stroke-color: black;
}

.input_data {
    margin-bottom: 0.3vh;
}


.userData {
    position: fixed;
    color: black;
    right: 0;
    padding-right: 50vw;
    margin-right: -40vw;
    top: 2vh;
    white-space:pre;
    font-size: 2vh;
    line-height: 3vh; !important;
}

.userInfo {
    margin-right: 2vw;
    -webkit-text-stroke: 0.05vh black;
}

#userName {
    font-size: calc(9vmin/4 + 9vmax/4);
    color: #9cf5ff;
    font-family: 'cursive';
    margin-top: 3vh !important;
    text-decoration: underline rgba(255,143,0,0.62) dashed;
}

#UserBalance {
    position: relative;
    color: #ff4b52;
    top: calc(0.5 * 1vmin/2 + 1vmax/8);
    font-family: "Comic Sans MS", monospace;
    font-size: calc(3vmin+ 2vmax);
    text-decoration: underline rgba(255,143,0,0.62) dashed;
}

#changeBalance {
    margin-top: calc( 2 * 1vmin/2 + 1vmax/8) !important;
    font-family: Righteous, cursive;
}


.settingsBtn {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: Righteous, cursive;
}

.productCount {
    z-index: 2;
    -webkit-text-stroke: 0.1vh #0036ff;
    padding-left: 0.60vw;
    align-items: center;
    justify-content: center;
    top: -8vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: -10vw;
    position: absolute;
    height: 7vh;
    width: 10vw;
    font-size: calc((1vw + 2vh));
    border: 0.5vh solid #00ff1e;
    background-color: #0adfff;
    border-radius: 4vh;
}