body {
    background-size: auto;
    overflow: scroll;
}

.mainTitle:hover
{
    color: #fbff00;
}
.mainTitle:active
{
    color: #ffce1b;
}
.mainTitle {
    position: absolute;
    color: gold;
    left: calc(50vw - 22vmax);
    top: 6vh;
    text-decoration: none;
    -webkit-text-stroke:0.05vw black;
    text-shadow: 0.25vh 0 0.25vw #000,
    0 0.25vh 0.5vw #000,
    -0.25vh 0 0.5vw #000,
    0 -0.25vw 0.25vw #000;
    font-family: Georgia, serif;
    font-size: calc(15vmin/2 + 15vmax/8);;
    line-height: 10vh;
}
.productItem{
    height: calc(15 * (1vmin + 1vmax));
    width: calc(13 * (1vmin + 1vmax));
    border-radius: 1vh;
    border: 0.5vh solid #00ff1e;
    background-color: #7bff71;
    position: absolute;
    top: 25vh;
    left: 10vw;
/*    left: 10vw;*/
    font-size: 7vh;
/* text-align: center;*/
}
.productInfo{
    margin-top: 1vh;
    border-radius: 1.5vh;
    border: 0.5vh solid black;
    font-size: calc((10vmin + 5vmax) * 0.08);
    text-align: left;
    position: sticky;
    resize: none;
    width: calc((30vmin + 30vmax) * 0.4);
    height: calc((1vmin + 10vmax) * 0.4);
    vertical-align: top;
    left: 3.5vh;
    margin-bottom: calc(6vmax - 5vmin);
}

.deleteBtn{
align-items: center;
justify-content: center;
display: flex;
white-space: nowrap;
text-align: center;
font-size: 2vw;
position:  relative;
margin-left: 30vw;
width: 3vw;
height: 3vw;
top: -2vw;
right: calc(20vw - 10vmin);
background: #ff1300;
cursor: pointer;
border-radius: 50%;
border-width: 0.25vw;
box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
inset 0 0.2vw 0 rgba(255,255,255,.6),
0 0.2vw 0 rgba(0,0,0,.1),
inset 0 0 0.2vw rgba(0,0,0,.1);
}

.addBtn{
align-items: center;
justify-content: center;
display: flex;
white-space: nowrap;
text-align: center;
font-size: 2vw;
position:  relative;
margin-left: 30vw;
width: 3vw;
height: 3vw;
top: -5vw;
right: calc(23vw - 10vmin);
background: #004fe2;
cursor: pointer;
border-radius: 50%;
border-width: 0.25vw;
box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
inset 0 0.2vw 0 rgba(255,255,255,.6),
0 0.2vw 0 rgba(0,0,0,.1),
inset 0 0 0.2vw rgba(0,0,0,.1);
}
.makeReview{
align-items: center;
justify-content: center;
display: flex;
white-space: nowrap;
text-align: center;
font-size: 2vw;
position:  relative;
margin-left: 30vw;
width: 5vw;
height: 3vw;
top: -8vw;
right: 29vw;
background: #e2cd00;
cursor: pointer;
border-radius: 35%;
border-width: 0.25vw;
box-shadow: 0 0.3vw 2vw rgba(0,0,0,.25),
inset 0 0.2vw 0 rgba(255,255,255,.6),
0 0.2vw 0 rgba(0,0,0,.1),
inset 0 0 0.2vw rgba(0,0,0,.1);
}

.PlusBtn{
width: 1.5vw;
z-index: 1;
}


.MinusBtn{
width: 1.5vw;
z-index: 1;
}

.btnImg{
width: 1.5vw;
z-index: 1;
}

.productPrice {
    z-index: 2;
    -webkit-text-stroke: 0.01vw crimson;
    padding-left: 0.35vw;
    align-items: center;
    justify-content: center;
    top: -8vh;
    right: calc((20vmin - 7vmax) * 0.018);
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: -10vw;
    position: absolute;
    height: 7vh;
    width: calc((8vmin + 8vmax) * 0.56);
    font-size: calc((1vw + 2vh));
    border: 0.5vh solid #00ff1e;
    background-color: #ff7e00;
    border-radius: 4vh;
    min-width: 1vh;
    min-height: 0.7vw;
    max-height: 4vh;
    margin-top: 3vh;

}